table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

input[type = "button"]{
    width: 100%;
    padding: 20px 40px;
    background-color: lightgray;
    color:black;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #999;

}
textarea{
    padding: 20px 50px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
}
input[type="button"]:hover{
    background-color: red;
}
input[type="button"]:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
